* {
    font-family: roboto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vdh;
}

ul {
    list-style-type: none;   
}

a {
    color: lightgrey;
    text-decoration: none;
}

.header, .herosection, .footer {
    background-color: #1F2937
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 72px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-between;
    gap: 18px;
}

.content {
    flex-grow: 1;
}

.herosection {
    padding: 0 72px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroleft {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

.heromaintext {
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.herosubtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 4px;
}

.signupbutton {
    width: 96px;
    background-color: #3882F6;
    border-radius: 4px;
    color: #F9FAF8;
    margin-top: 8px;
    border-style: none;
    font-size: 16px;
}

.image-placeholder {
    background-color: gray;
    width: 300px;
    height: 150px;
}

.footer {
    text-align: center;
    color: lightgray;
}